<?xml version="1.0"?>
<launch>
    
    <arg name="webcam"        default="/dev/video0"/>
    <arg name="webcam_calibration"        default="file://$(find braccio_tp)/results/usb_cam_c170.yaml"/>
    
    
	<include file="$(find  braccio_tp)/launch/RunRobotSliders.launch"/>    
        
    <include file="$(find braccio_tp)/launch/RunAruco.launch">
        <arg name="webcam" value="$(arg webcam)"/>
        <arg name="webcam_calibration" value="$(arg webcam_calibration)"/>
    </include>

    <include file="$(find braccio_tp)/launch/MarkersBroadcast.launch"/>
    
    <node name="modele_check" pkg="braccio_tp" type="check_MGD"/>
    
    
    
  </launch>
