<?xml version="1.0"?>
<launch>
    
    <arg name="webcam"        default="/dev/video0"/>

    <include file="$(find braccio_tp)/launch/RunAruco.launch">
        <arg name="webcam" value="$(arg webcam)"/>
    </include>
    <include file="$(find braccio_tp)/launch/MarkersBroadcast.launch"/>
    
    
    <include file="$(find  braccio_tp)/launch/RunRobotSliders.launch"/>    
        
    
  </launch>
